body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

#info {
  position: absolute;
  top: 10px;
  text-align: center;
  z-index: 100;
  display: block;
  color: white;
  font-size: large;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  left: 45%;
}

#controls {
  position: absolute;
  bottom: 10px;
  text-align: center;
  z-index: 100;
  display: block;
  width: 400px;
  color: white;
  font-size: large;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  left: 45%;
}

p {
  transition: all 0.5s ease-in-out;
}

#controls > p:hover {
  font-size: medium;
}
